.appHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 70px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 40px;
  background: #fff;
}

.appHeader h1 {
  margin: 0;
}

.appHeader h1 a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 25px;
}

.appHeader ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.appHeader ul li a {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

.appHeader ul li a:hover {
  text-decoration: underline;
}
